{% extends "base.html" %}
{% block content %}



<h1>Valitse ryhmä</h1>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Ryhmän nimi</th>
        <th>Tiedot</th>
        <th>Jäsenet</th>
        <th>Muokkaa tietoja</th>
        <th>Poista ryhmä</th>
        
      </tr>
    </thead>
    <tbody>
      
        {% for ryhma in ryhmat %}
        <tr>
            <td>{{ryhma.ryhmannimi}}        </td>
            <td>{{ryhma.lisatietoja}}        </td>
        
            <td><button class="btn btn-primary">Jäsenlista</button></td>
            <td><a href="{{base_path}}/ryhmat/{{ryhma.ryhmannimi}}/muokkaa">Muokkaa tietoja</a></td>
            <td>
                <form method="post" action="{{base_path}}/ryhmat/{{ryhma.ryhmannimi}}/poista">
                    <button type="submit" class="btn btn-danger">Poista ryhmä</button>
                </form>
            </td>
        </tr>
      
      {% endfor %}
   




    </tbody>
  </table>
  

<a href="{{base_path}}/lisaa" class="btn btn-success">Lisää uusi ryhmä</a><br>
<a href="{{base_path}}/" class="btn btn-success">Palaa aloitussivulle</a>





{% endblock %}
