{% extends "base.html" %}
{% block content %}

<h1>Ryhman A henkilot</h1>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Sukunimi</th>
        <th>Etunimet</th>
	<th>Sähköposti</th>
	<th>Osoite</th>
	<th>Puhelin</th>
	<th>Poista</th>
      </tr>
    </thead>
    <tbody>
       {% for henkilo in henkilot %}  
      <tr>
        <td>{{henkilo.sukunimi}}        </td>
        <td>{{henkilo.etunimet}} </td>
	<td>{{henkilo.sahkopostiosoite}} </td>
	<td>{{henkilo.lahiosoite}}</td>
	<td>{{henkilo.puhelinnumero}}</td>
	<td><form method="post" action="{{base_path}}/henkilot/{{henkilo.henkilonumero}}/poista">
                    <button type="submit" class="btn btn-danger">Poista henkilö</button>
                </form></td>
	
      </tr>
      {% endfor %}
    </tbody>
  </table>

<a href="{{base_path}}/ryhmat" class="btn btn-success">Palaa</a>


{% endblock %}