{% extends "base.html" %}
{% block content %}



<h1>Valitse ryhmä</h1>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Ryhmän nimi</th>
        <th>Tiedot</th>
      </tr>
    </thead>
    <tbody>
      
        {% for ryhma in ryhmat %}
        <tr>
            <td>{{ryhma.ryhmannimi}}        </td>
        
       <td><button class="btn btn-primary">valitse</button></td>
      </tr>
      {% endfor %}
   




    </tbody>
  </table>
  







{% endblock %}
